<form action="/recipes" method="POST">
  <h3><label for="name">Name: </label>
  <input type="text" id="name" name="name"></input></h3>

  <h3><label for="ingredients">Ingredients: </label>
  <input type="text" id="ingredients" name="ingredients"></input></h3>

  <h3><label for="cook_time">Cook Time: </label>
  <input type="text" id="cook_time" name="cook_time"></input></h3>

  <input type="submit" value="submit">

</form>
